html {
  background-color: #fff;
  color: #2c2c2c;
}

* {
  box-sizing: border-box;
}

p,
dd,
dt,
li,
table {
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

a:link {
  color: #28b;
  text-decoration: none;
}

a:visited {
  color: #168;
  text-decoration: none;
}

a:hover {
  color: #3af;
  text-decoration: underline;
}

pre {
  border: 1px solid;
  overflow: auto;
  padding: 5px;
  word-wrap: normal;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  padding: 5px;
}

ul {
  list-style-type: disc;
  margin: 1em 0 1em 0;
}

ul ul {
  margin: 0;
}

@font-face {
  font-family: "kuno";
  src: url("/kuno.ttf");
}
