@import "variables";
@import "mixins";
@import "base";
@import "components/site-header";
@import "components/site-global-menu";
@import "components/site-search";
@import "components/site-side-menu";
@import "components/site-main";
@import "components/site-footer";
@import "components/site-article";
@import "components/search-input";
@import "components/search-button";
@import "components/menu-section";
@import "components/article-aside";
@import "components/article-image";
@import "components/taxonomy-list";
@import "components/feed-button";
@import "components/social-button";

@include min-screen($screen-normal) {

  .outer {
    display: flex;
    flex-direction: row;

    > *:first-child {
      flex: 0 0 $width-side-menu;
    }

    > *:last-child {
      flex: 1 1;
    }

    &.-row-reverse {
      flex-direction: row-reverse;

      > *:first-child {
        flex: 1 1;
      }

      > *:last-child {
        flex: 0 0 $width-side-menu;
      }
    }

    &.-min-height {
      min-height: calc(100vh - 8.625rem - 1.25rem * 4 - 1rem * 2);
    }
  }
}

@include max-screen($screen-normal) {

  .outer.-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
