@import "~sass-mediaqueries/_media-queries";
@import "_base";

.inherit a {
  color: inherit;
  text-decoration: none;
}

.article-title a {
  text-decoration: none;
}

.icon {
  font-family: "kuno";
  font-feature-settings: "liga";
}

.content-margin {
  padding: 20px 10px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

@include min-screen(750px) {

  .outer {
    display: flex;
    flex-direction: row-reverse;

    & > *:first-child {
      flex: 1;
    }

    & > *:last-child {
      width: 250px;
    }

    &.-main {
      flex-direction: row;
      min-height: calc(100vh - 170px);

      & > *:first-child {
        flex-grow: initial;
        width: 250px;
      }

      & > *:last-child {
        flex: 1;
        overflow: hidden;
        width: initial;
      }
    }
  }
}

.content-max-width {
  margin: 0 auto;
  max-width: 600px;

  @include max-screen(749px) {
    max-width: 465px;
  }

  @include min-screen(1600px) {
    margin: 0 calc(50% - 175px) 0 calc(50% - 425px);
  }
}

header {
  border-left: solid 1px;

  @include max-screen(749px) {
    border-left: none;
  }
}

.global-menu {
  border-left: solid 1px;
  border-top: solid 1px;

  @include max-screen(749px) {
    border-left: none;
  }
}

.search {
  border-top: solid 1px;
  display: inline-block;
  width: 100%;

  @include max-screen(749px) {
    border-top: none;
  }
}

.side-menu {
  border-bottom: solid 1px;
  border-top: solid 1px;

  @include max-screen(749px) {
    align-items: flex-start;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    & > section {
      display: inline-block;
      margin: 0 10px;
    }

    & > section:last-child {
      margin-bottom: 10px;
    }
  }
}

main {
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-top: solid 1px;

  @include max-screen(749px) {
    border-bottom: none;
    border-left: none;
  }
}

footer {
  border-left: solid 1px;

  @include max-screen(749px) {
    border-left: none;
    border-top: solid 1px;
  }
}

header h1 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

header p {
  line-height: 1;
  margin: 1em 0 0 0;
}

.global-menu ul {
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-menu li {
  float: left;
  font-size: 18px;
}

.global-menu a {
  display: block;
  line-height: 1;
  padding: 16px 10px;
}

.global-menu a:hover {
  background-color: #ccc;
}

.search > form {
  display: flex;
}

.search-box {
  border: none;
  height: 30px;
  margin: 10px;
  padding: 0;
  width: calc(100% - 70px);
}

.search-icon {
  background: none;
  border: none;
  line-height: 0;
  padding: 16px;
}

.search-icon:hover {
  background-color: #ccc;
}

.search-icon span {
  font-size: 18px;
  line-height: 1;
}

.date {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.tags {
  font-size: 14px;
  line-height: 1;
}

.date + .tags {
  margin-top: 4px;
}

.social-icon {
  float: right;
}

.social-icon span {
  font-size: 32px;
}

.social-icon span:hover {
  background: #ccc;
}

article {
  overflow: hidden;
}

article + aside {
  border-top: 1px dashed;
  margin-top: 25px;
  padding-top: 25px;
}

article + .pagination {
  border: none;
  padding-top: 0;
}

article h2 {
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 0;
}

article hr {
  border: 1px inset;
  margin: 1.5em 0;
}

article h3 {
  margin: 2em 0 1.5em 0;
}

article p {
  line-height: 1.6;
  margin: 1.5em 0;
}

article li {
  line-height: 1.6;
}

article blockquote {
  line-height: 1.6;
}

article video {
  width: 100%;
}

.image {
  font-size: 0;
  margin: 0;
  padding: 1%;
  text-align: center;
}

.image img {
  box-sizing: content-box;
  max-height: 50vh;
  max-width: 100%;
}

.video {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.video iframe {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.pagination {
  font-size: 16px;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

section + section {
  margin-top: 20px;
}

section h2 {
  font-size: 14px;
}

.rss-icon span {
  font-size: 40px;
}

section ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

section li {
  font-size: 14px;
  line-height: 1.4;

  @include max-screen(749px) {

    &:nth-child(n + 4) {
      display: none;
    }
  }
}

.tags li {
  margin: 0.5em 0;
}

.archives li {
  margin: 0.5em 0;
}

footer p {
  line-height: 1;
  margin: 0;
  text-align: center;
}
