@import "~sass-mediaqueries/_media-queries";
@import "_base";

.inherit a {
  color: inherit;
  text-decoration: none;
}

.article-title a {
  text-decoration: none;
}

.icon {
  font-family: "kuno";
  font-feature-settings: "liga";
}

.content-margin {
  padding: 20px 10px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.vertical-line {
  @include min-screen(750px) {
    background-color: #2c2c2c;
    height: 100%;
    left: 249px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.outer {
  @include min-screen(750px) {
    overflow: hidden;
    position: relative;
  }
}

.outer-main {
  @include min-screen(750px) {
    border-bottom: 1px solid;
    border-top: 1px solid;
    min-height: calc(100% - 170px);
    overflow: hidden;
    position: relative;
  }
}

.column-right {
  @include min-screen(750px) {
    float: right;
    width: 100%;
  }
}

.column-left {
  @include min-screen(750px) {
    width: 250px;
  }
}

.inner-margin {
  @include min-screen(750px) {
    margin-left: 250px;
  }
}

.content-max-width {
  margin: 0 auto;
  max-width: 600px;

  @include max-screen(749px) {
    max-width: 465px;
  }

  @include min-screen(1600px) {
    margin: 0 calc(50% - 175px) 0 calc(50% - 425px);
    max-width: 600px;
  }
}

header {
  border-left: solid 1px;
  display: table;

  @include max-screen(749px) {
    border-bottom: solid 1px;
    border-left: none;
    width: 100%;
  }
}

.global-menu {
  border-bottom: solid 1px;
  border-left: solid 1px;

  @include max-screen(749px) {
    border-left: none;
    width: 100%;
  }
}

main {
  border-left: solid 1px;

  @include max-screen(749px) {
    border-bottom: solid 1px;
    border-left: none;
    width: 100%;
  }
}

.search {
  border-bottom: solid 1px;
  display: inline-block;
  float: left;
  height: 51px;
  width: inherit;

  @include max-screen(749px) {
    width: 100%;
  }
}

.side-menu {
  float: left;

  @include max-screen(749px) {
    border-bottom: solid 1px;
    width: 100%;
  }
}

footer {
  border-left: solid 1px;
  display: table;

  @include max-screen(749px) {
    border-left: none;
    float: left;
    width: 100%;
  }
}

header h1 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

header p {
  line-height: 1;
  margin: 1em 0 0 0;
}

.global-menu ul {
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-menu li {
  float: left;
  font-size: 18px;
}

.global-menu a {
  display: block;
  line-height: 1;
  padding: 16px 10px;
}

.global-menu a:hover {
  background-color: #ccc;
}

.search .inner-margin {
  margin-left: 0;
  margin-right: 70px;
}

.search-box {
  border: none;
  float: left;
  height: 30px;
  margin: 10px;
  padding: 0;
  width: 100%;
}

.search-icon {
  background: none;
  border: none;
  float: right;
  line-height: 0;
  padding: 16px;
}

.search-icon:hover {
  background-color: #ccc;
}

.search-icon span {
  font-size: 18px;
  line-height: 1;
}

.date {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.tags {
  font-size: 14px;
  line-height: 1;
}

.date + .tags {
  margin-top: 4px;
}

.social-icon {
  float: right;
}

.social-icon span {
  font-size: 32px;
}

.social-icon span:hover {
  background: #ccc;
}

article {
  overflow: hidden;
}

article + aside {
  border-top: 1px dashed;
  margin-top: 25px;
  padding-top: 25px;
}

article + .pagination {
  border: none;
  padding-top: 0;
}

article h2 {
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 0;
}

article hr {
  border: 1px inset;
  margin: 1.5em 0;
}

article h3 {
  margin: 2em 0 1.5em 0;
}

article p {
  line-height: 1.6;
  margin: 1.5em 0;
}

article li {
  line-height: 1.6;
}

article blockquote {
  line-height: 1.6;
}

article video {
  width: 100%;
}

.image {
  font-size: 0;
  margin: 0;
  padding: 1%;
  text-align: center;
}

.image img {
  box-sizing: content-box;
  max-height: 50vh;
  max-width: 100%;
}

.video {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.video iframe {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.pagination {
  font-size: 16px;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
}

.edit-history {
  text-align: center;
}

section + section {
  margin-top: 20px;
}

section h2 {
  font-size: 14px;
}

.rss-icon span {
  font-size: 40px;
}

section ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

section li {
  font-size: 14px;
  line-height: 1.4;
}

.tags li {
  margin: 0.5em 0;
}

.archives li {
  margin: 0.5em 0;
}

footer p {
  line-height: 1;
  margin: 0;
  text-align: center;
}
