@mixin max-screen($screen) {
  @media only screen and (max-width: $screen) {
    @content;
  }
}

@mixin min-screen($screen) {
  @media only screen and (min-width: $screen + 1px) {
    @content;
  }
}

@mixin border($direction, $width: 1rem) {
  @if str-index($direction, "all") {
    border: solid $width $color-line-gray;
  }

  @if str-index($direction, "top") {
    border-top: solid $width $color-line-gray;
  }

  @if str-index($direction, "right") {
    border-right: solid $width $color-line-gray;
  }

  @if str-index($direction, "bottom") {
    border-bottom: solid $width $color-line-gray;
  }

  @if str-index($direction, "left") {
    border-left: solid $width $color-line-gray;
  }
}

@mixin inner($margin-y: 0) {
  margin: $margin-y auto;
  max-width: $width-inner - 8rem;
  padding: 0 0.625rem;

  @include min-screen($screen-normal) {
    max-width: $width-inner;
    transform: none;
    transition: transform 0.25s ease;
  }

  @include min-screen($screen-large) {
    transform: translateX(-$width-side-menu / 2);
  }
}
