$color-base: #fff;
$color-text: #2c2c2c;
$color-hover-gray: #ccc;
$color-line-gray: #eee;
$screen-normal: 800px;
$screen-large: 1600px;
$width-side-menu: 14.375rem + 0.625rem * 2;
$width-inner: 38rem + 0.625rem * 2;
