.site-search {
  display: inline-block;
  width: 100%;

  .inner {
    display: flex;
  }

  @include max-screen($screen-normal) {

    .inner {
      @include inner();

      padding: 0;
    }
  }
}
