.site-header {
  padding: 1.25rem 0;

  .inner {
    @include inner();
  }

  h1 {
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  p {
    line-height: 1;
    margin: 0;
    margin-top: 1rem;
  }
}
