.site-side-menu {

  .inner {
    @include max-screen($screen-normal) {
      @include inner();

      display: flex;
      flex-wrap: wrap;
      padding-right: 0;
      padding-top: 0.625rem;
    }

    @include min-screen($screen-normal) {
      padding: 0.625rem;
    }
  }
}
