{{- define "main" }}
{{- $blog := where .Data.Pages "Section" "blog" }}
{{- $paginator := .Paginate $blog }}
{{ template "_internal/pagination.html" . }}
{{- range $paginator.Pages }}
<aside class="clearfix">
{{ partial "article/share.html" -}}
<div class="date">
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006/01/02" }}</time>
</div>
{{ partial "article/tags.html" . -}}
</aside>
<article>
<h2 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
{{ .Content }}
</article>
{{- end }}
{{ template "_internal/pagination.html" . }}
{{- end }}
