{{- define "main" }}
{{- $blog := where .Data.Pages "Section" "blog" }}
{{- $paginator := .Paginate $blog }}
{{ template "_internal/pagination.html" . }}
{{- range $paginator.Pages }}
<article>
<h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside>
<div>
<div class="date">
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006/01/02" }}</time>
</div>
{{ partial "article/tags.html" . -}}
</div>
<div class="social-icon inherit">
<a href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&nbsp;-&nbsp;{{ .Site.Title }}" target="_blank"><span class="icon">twitter</span></a>
<a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank"><span class="icon">facebook</span></a>
<a href="http://b.hatena.ne.jp/entry//{{ .Permalink }}" target="_blank"><span class="icon">hatebu</span></a>
</div>
</aside>
{{ .Content }}
</article>
{{- end }}
{{ template "_internal/pagination.html" . }}
{{- end }}
