{{- define "main" }}
{{- $blog := where .Data.Pages "Section" "blog" }}
{{- $paginator := .Paginate $blog }}
{{ partial "pagination.html" . }}
{{- range $key, $value := $paginator.Pages }}
<article>
<h2><a class="-text-decoration-none" href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside>
<div>
{{ partial "article/date.html" . -}}
{{ partial "article/tags.html" . -}}
</div>
{{ partial "article/share.html" . -}}
</aside>
{{ .Content }}
</article>
{{- if ne (add $key 1) $paginator.NumberOfElements }}
<hr>
{{- end }}
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
