.menu-section {
  padding-bottom: 0.625rem;
  padding-right: 0.625rem;

  &.is-width-100pct {
    width: 100%;
  }

  &.is-width-50pct {
    width: 50%;
  }

  h2 {
    font-size: 0.875rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  ul {
    line-height: 1.75;
    list-style: none;
    margin: 0.5rem 0;
    padding-left: 0;
  }

  img {
    max-width: 100%;
  }
}
