.pagination-list {
  display: flex;
  justify-content: center;
  line-height: 1.6;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include border("top bottom", 1px);

    padding: 0.5rem;

    &:first-child {
      @include border("left", 1px);
    }

    &:last-child {
      @include border("right", 1px);
    }
  }

  a {
    display: block;
    margin: -0.5rem;
    padding: 0.5rem;
  }
}
