.search-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 1rem;

  &:hover {
    background-color: var(--color-hover-gray);
  }

  img {
    height: 1.125rem;
  }
}
