.site-main {
  display: block; // for IE 11 support

  .pagination {
    @include inner(0.625rem);

    padding: 0;
    text-align: center;

    li {
      display: inline-block;
    }
  }

  hr {
    border: none;
    margin: 0;

    @include border("top");
  }
}
