.site-main {
  display: block; // for IE 11 support

  .pagination-list {
    @include inner(1.5rem);

    padding: 0;

    & + .site-article {
      margin-top: 1.5rem;
    }
  }

  hr {
    border: none;
    margin: 0;

    @include border("top");
  }
}
