.site-article {
  line-height: 1.75;

  > * ~ * {
    margin: 1.5rem 0;
  }

  h2 {
    border: solid 0.5rem var(--color-line-gray);
    font-weight: normal;
    padding: 0.5rem;
  }

  h3 {
    border-bottom: solid 0.5rem var(--color-line-gray);
    max-width: max-content;
  }

  hr {
    border-bottom: solid 0.5rem var(--color-line-gray);
  }

  img {
    max-width: 100%;
  }

  video {
    width: 100%;
  }

  blockquote {
    border-left: solid 0.5rem var(--color-line-gray);
    padding: 0 3rem 0 2.5rem;
  }

  pre {
    border: solid 1px var(--color-line-gray);
    padding: 0.5rem;
  }

  p > code {
    background-color: var(--color-line-gray);
    font-size: 0.875rem;
  }

  table {
    border-collapse: collapse;
    display: block;
    white-space: nowrap;
  }

  thead {
    background-color: var(--color-line-gray);
  }

  th,
  td {
    border: solid 1px var(--color-line-gray);
    padding: 0.5rem;
  }

  blockquote,
  pre,
  table,
  .article-tab {
    max-width: calc(100vw - 2.5rem);
    overflow: auto;
  }
}
