.site-main {
  display: block; // for IE 11 support

  .pagination-list {
    @include inner(1.5rem);

    padding: 0;
  }

  .site-article {
    @include inner(3rem);

    &:first-of-type {
      margin-top: 1.5rem;
    }

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }

  hr {
    border: none;
    margin: 0;

    @include border("top");
  }
}
