.social-button {
  .button {
    color: #fff;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    text-decoration: none;

    &.is-twitter {
      background-color: #1da1f2;
    }

    &.is-facebook {
      background-color: #1877f2;
    }

    &.is-hatenabookmark {
      background-color: #00a4de;
    }
  }

  img {
    display: inline-block;
    height: 0.75rem;
    padding-right: 0.25rem;
    vertical-align: bottom;
  }
}
