:root {
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 110%;
  letter-spacing: 0.0125rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

ul {
  list-style-type: disc;
  margin: 1rem 0;

  ul {
    margin: 0;
  }
}

p {
  > a {
    text-decoration: underline;
  }
}

a {
  color: #25a;
  text-decoration: none;

  &:visited {
    color: #438;
  }

  &:hover {
    color: #3af;
    text-decoration: underline;
  }
}
