{{- $pag := $.Paginator }}
{{- if gt $pag.TotalPages 1 -}}
<ul class="pagination">
  {{- if $pag.HasPrev }}
  {{- with $pag.First }}
  <li><a href="{{ .URL }}" aria-label="{{ i18n "FirstAriaLabel" }}"><span aria-hidden="true">{{ i18n "First" }}</span></a></li>
  {{ end -}}
  <li><a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="{{ i18n "PrevAriaLabel" }}"><span aria-hidden="true">{{ i18n "Prev" }}</span></a></li>
  {{- end -}}
  {{- $.Scratch.Set "__paginator.ellipsed" false }}
  {{- range $pag.Pagers }}
  {{- $right := sub .TotalPages .PageNumber }}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) }}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
  {{- if $showNumber }}
    {{- $.Scratch.Set "__paginator.ellipsed" false }}
    {{- $.Scratch.Set "__paginator.shouldEllipse" false }}
  {{- else }}
    {{- $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
    {{- $.Scratch.Set "__paginator.ellipsed" true }}
  {{- end -}}
  {{- if $showNumber }}
  <li>{{ if ne . $pag }}<a href="{{ .URL }}">{{ end }}{{ .PageNumber }}{{ if ne . $pag }}</a>{{ end }}</li>
  {{- else if ($.Scratch.Get "__paginator.shouldEllipse") }}
  <li><span aria-hidden="true">&hellip;</span></li>
  {{- end -}}
  {{- end -}}
  {{- if $pag.HasNext }}
  <li><a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="{{ i18n "NextAriaLabel" }}"><span aria-hidden="true">{{ i18n "Next" }}</span></a></li>
  {{- with $pag.Last }}
  <li><a href="{{ .URL }}" aria-label="{{ i18n "LastAriaLabel" }}"><span aria-hidden="true">{{ i18n "Last" }}</span></a></li>
  {{ end -}}
  {{ end -}}
</ul>
{{- end -}}
