.article-tab {
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: solid 1px var(--color-line-gray);
    border-top: solid 1px var(--color-line-gray);
    padding: 0.5rem;

    &:first-child {
      border-left: solid 1px var(--color-line-gray);
    }

    &:last-child {
      border-right: solid 1px var(--color-line-gray);
    }
  }

  a {
    display: block;
    margin: -0.5rem;
    padding: 0.5rem;
  }
}
