.aside-column {
  display: inline-block;

  > :first-child {
    background-color: var(--color-line-gray);
    display: inline-block;
    padding: 0.25rem;
  }

  > :last-child {
    display: block;
    padding: 0.25rem;
  }
}
