.menu-section {
  h2 {
    font-size: 0.875rem;
    line-height: 2;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  a > :first-child {
    margin-right: 0.25rem;
  }

  ul {
    line-height: 2;
    list-style: none;
    margin: 0.5rem 0;
    padding-left: 0;
  }

  img {
    max-width: 100%;
  }
}
