.search-input {
  background-color: var(--color-base);
  border: none;
  color: var(--color-text);
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 4.375rem);

  &::placeholder {
    color: var(--color-text);
  }
}
