.site-footer-menu {
  & > .inner {
    display: grid;
    gap: 0.625rem;
    grid: auto-flow dense / repeat(auto-fit, minmax(12rem, 1fr));
    margin: 0 auto;
    max-width: var(--size-container);
    padding: 0.625rem;
  }
}
