.site-footer {
  padding: 1.25rem 0;

  .inner {
    margin: 0 auto;
    max-width: var(--size-container);
    padding: 0 0.625rem;
  }

  p {
    line-height: 1;
    margin: 0;
    text-align: center;
  }
}
