<div class="aside-row">
  <div class="aside-column">
    <span>{{ i18n "PublishDateLabel" }}</span>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format (i18n "ArticleDateFormat") }}</time>
  </div>
  {{ if .Params.happenDate -}}
    <div class="aside-column">
      <span>{{ i18n "HappenDateLabel" }}</span>
      <time datetime="{{ dateFormat "2006-01-02" .Params.happenDate }}">{{ dateFormat (i18n "ArticleDateFormat") .Params.happenDate }}</time>
    </div>
  {{ end -}}
</div>
