* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #2c2c2c;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

ul {
  list-style-type: disc;
  margin: 1rem 0;
}
ul ul {
  margin: 0;
}

p > a {
  text-decoration: underline;
}

a {
  color: #25a;
  text-decoration: none;
}
a:visited {
  color: #438;
}
a:hover {
  color: #3af;
  text-decoration: underline;
}

.site-body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "global-menu" "search" "main" "side-menu" "footer";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin: 0;
}
@media only screen and (min-width: 801px) {
  .site-body {
        grid-template-areas: "header-blank header" "search global-menu" "side-menu main" "footer-blank footer";
    -ms-grid-columns: 15.625rem 1fr;
    grid-template-columns: 15.625rem 1fr;
  }
}
.site-body .site-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  border-bottom: solid 1rem #eee;
}
@media only screen and (min-width: 801px) {
  .site-body .site-header {
    border-left: solid 1rem #eee;
  }
}
.site-body .site-header-blank {
  grid-area: header-blank;
}
@media only screen and (min-width: 801px) {
  .site-body .site-header-blank {
    border-bottom: solid 1rem #eee;
  }
}
.site-body .site-global-menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: global-menu;
}
@media only screen and (min-width: 801px) {
  .site-body .site-global-menu {
    border-bottom: solid 1rem #eee;
    border-left: solid 1rem #eee;
  }
}
.site-body .site-search {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: search;
  border-bottom: solid 1rem #eee;
}
.site-body .site-main {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
  border-bottom: solid 1rem #eee;
}
@media only screen and (min-width: 801px) {
  .site-body .site-main {
    border-left: solid 1rem #eee;
    min-height: calc(100vh - 15.625rem);
  }
}
.site-body .site-side-menu {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: side-menu;
  border-bottom: solid 1rem #eee;
}
.site-body .site-footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}
@media only screen and (min-width: 801px) {
  .site-body .site-footer {
    border-left: solid 1rem #eee;
  }
}
.site-body .site-footer-blank {
  grid-area: footer-blank;
}
@media only screen and (min-width: 801px) {
  .site-body .site-header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .site-body .site-header-blank {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .site-body .site-global-menu {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .site-body .site-search {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .site-body .site-main {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .site-body .site-side-menu {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .site-body .site-footer {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .site-body .site-footer-blank {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}

.site-header {
  padding: 1.25rem 0;
}
.site-header .inner {
  margin: 0 auto;
  max-width: 31.25rem;
  padding: 0 0.625rem;
}
@media only screen and (min-width: 801px) {
  .site-header .inner {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (min-width: 1601px) {
  .site-header .inner {
    transform: translateX(-7.8125rem);
  }
}
.site-header h1 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
.site-header a {
  color: unset;
  text-decoration: none;
}
.site-header p {
  line-height: 1;
  margin: 0;
  margin-top: 1rem;
}

.site-global-menu ul {
  margin: 0 auto;
  max-width: 31.25rem;
  padding: 0 0.625rem;
  list-style: none;
  padding: 0;
}
@media only screen and (min-width: 801px) {
  .site-global-menu ul {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (min-width: 1601px) {
  .site-global-menu ul {
    transform: translateX(-7.8125rem);
  }
}
.site-global-menu li {
  display: inline-block;
  font-size: 1.125rem;
}
.site-global-menu a {
  color: unset;
  display: block;
  line-height: 1;
  padding: 1rem 0.625rem;
  text-decoration: none;
}
.site-global-menu a:hover {
  background-color: #ccc;
}

.site-search {
  display: inline-block;
  width: 100%;
}
.site-search .inner {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .site-search .inner {
    margin: 0 auto;
    max-width: 31.25rem;
    padding: 0 0.625rem;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) and (min-width: 801px) {
  .site-search .inner {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 1601px) {
  .site-search .inner {
    transform: translateX(-7.8125rem);
  }
}

@media only screen and (max-width: 800px) {
  .site-side-menu .inner {
    margin: 0 auto;
    max-width: 31.25rem;
    padding: 0 0.625rem;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-top: 0.625rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 801px) {
  .site-side-menu .inner {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 1601px) {
  .site-side-menu .inner {
    transform: translateX(-7.8125rem);
  }
}
@media only screen and (min-width: 801px) {
  .site-side-menu .inner {
    padding: 0.625rem;
  }
}

.site-main {
  display: block;
}
.site-main .pagination-list {
  margin: 1.5rem auto;
  max-width: 31.25rem;
  padding: 0 0.625rem;
  padding: 0;
}
@media only screen and (min-width: 801px) {
  .site-main .pagination-list {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (min-width: 1601px) {
  .site-main .pagination-list {
    transform: translateX(-7.8125rem);
  }
}
.site-main .site-article {
  margin: 3rem auto;
  max-width: 31.25rem;
  padding: 0 0.625rem;
}
@media only screen and (min-width: 801px) {
  .site-main .site-article {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (min-width: 1601px) {
  .site-main .site-article {
    transform: translateX(-7.8125rem);
  }
}
.site-main .site-article:first-of-type {
  margin-top: 1.5rem;
}
.site-main .site-article:last-of-type {
  margin-bottom: 1.5rem;
}
.site-main hr {
  border: none;
  margin: 0;
  border-top: solid 1rem #eee;
}

.site-footer {
  padding: 1.25rem 0;
}
.site-footer .inner {
  margin: 0 auto;
  max-width: 31.25rem;
  padding: 0 0.625rem;
}
@media only screen and (min-width: 801px) {
  .site-footer .inner {
    max-width: 39.25rem;
    transform: none;
  }
}
@media only screen and (min-width: 1601px) {
  .site-footer .inner {
    transform: translateX(-7.8125rem);
  }
}
.site-footer p {
  line-height: 1;
  margin: 0;
  text-align: center;
}

.text-browser-message {
  display: none;
}

.search-input {
  border: none;
  height: 1.875rem;
  margin: 0.625rem;
  padding: 0;
  width: calc(100% - 4.375rem);
}

.search-button {
  background: none;
  border: none;
  line-height: 0;
  padding: 1rem;
}
.search-button:hover {
  background-color: #ccc;
}
.search-button img {
  height: 1.125rem;
}

.feed-button img {
  height: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .menu-section {
    padding-bottom: 0.625rem;
    padding-right: 0.625rem;
  }
  .menu-section.-width-100pct {
    width: 100%;
  }
  .menu-section.-width-50pct {
    width: 50%;
  }
}
@media only screen and (min-width: 801px) {
  .menu-section ~ .menu-section {
    margin-top: 1rem;
  }
}
.menu-section h2 {
  font-size: 0.875rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.menu-section ul {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}
.menu-section li {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 0.375rem 0;
}
.menu-section img {
  max-width: 100%;
}

.pagination-list {
  display: flex;
  justify-content: center;
  line-height: 1.6;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-list li {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 0.5rem;
}
.pagination-list li:first-child {
  border-left: solid 1px #eee;
}
.pagination-list li:last-child {
  border-right: solid 1px #eee;
}
.pagination-list a {
  display: block;
  margin: -0.5rem;
  padding: 0.5rem;
}

.site-article {
  line-height: 1.6;
}
.site-article > * ~ * {
  margin: 1.5rem 0;
}
.site-article h2 {
  border: solid 0.5rem #eee;
  font-weight: normal;
  padding: 0.5rem;
}
.site-article h3 {
  border-bottom: solid 0.5rem #eee;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.site-article hr {
  border: none;
  border-top: solid 0.5rem #eee;
}
.site-article video {
  width: 100%;
}
.site-article blockquote {
  border-left: solid 0.5rem #eee;
  padding: 0 3rem 0 2.5rem;
}
.site-article pre {
  border: solid 1px #eee;
  padding: 0.5rem;
}
.site-article table {
  border-collapse: collapse;
  display: block;
  white-space: nowrap;
}
.site-article thead {
  background-color: #eee;
}
.site-article th,
.site-article td {
  border: solid 1px #eee;
  padding: 0.5rem;
}
.site-article blockquote,
.site-article pre,
.site-article table,
.site-article .article-tab {
  max-width: calc(100vw - 2.5rem);
  overflow: auto;
}
@media only screen and (min-width: 801px) {
  .site-article blockquote,
.site-article pre,
.site-article table,
.site-article .article-tab {
    max-width: calc(100vw - 19.125rem);
  }
}

.article-header {
  border: solid 0.5rem #eee;
  padding: 0.5rem;
}
.article-header > * ~ * {
  margin-top: 0.5rem;
}
.article-header h2 {
  border: none;
  margin: 0;
  padding: 0;
}

.article-aside {
  font-size: 0.875rem;
  line-height: 1;
}
.article-aside > :last-child {
  margin-bottom: -0.25rem;
}

.article-image {
  text-align: center;
}
.article-image img {
  box-sizing: content-box;
  max-height: 400px;
  max-width: 100%;
}
@media only screen and (max-height: 400px) {
  .article-image img {
    max-height: 200px;
  }
}

.article-iframe {
  overflow: hidden;
  position: relative;
}
.article-iframe.-ratio-16-to-9 {
  padding-top: 56.25%;
}
.article-iframe.-ratio-4-to-3 {
  padding-top: 75%;
}
.article-iframe.-ratio-3-to-2 {
  padding-top: 66.66%;
}
.article-iframe.-ratio-1-to-1 {
  padding-top: 100%;
}
.article-iframe iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-tab ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.article-tab li {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 0.5rem;
}
.article-tab li:first-child {
  border-left: solid 1px #eee;
}
.article-tab li:last-child {
  border-right: solid 1px #eee;
}
.article-tab a {
  display: block;
  margin: -0.5rem;
  padding: 0.5rem;
}

.aside-row .aside-column {
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.aside-column {
  display: inline-block;
}
.aside-column > :first-child {
  background-color: #eee;
  display: inline-block;
  padding: 0.25rem;
}
.aside-column > :last-child {
  display: block;
  padding: 0.25rem;
}

.social-button .button {
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  text-decoration: none;
}
.social-button .button.-twitter {
  background-color: #1da1f2;
}
.social-button .button.-facebook {
  background-color: #1877f2;
}
.social-button .button.-hatenabookmark {
  background-color: #00a4de;
}
.social-button img {
  display: inline-block;
  height: 0.75rem;
  padding-right: 0.25rem;
  vertical-align: bottom;
}

.taxonomy-list {
  -moz-column-count: 2;
       column-count: 2;
  list-style: none;
  padding-left: 0;
}
@media only screen and (min-width: 801px) {
  .taxonomy-list {
    -moz-column-count: 3;
         column-count: 3;
  }
}

.twitter-tweet {
  min-width: unset !important;
  width: unset !important;
}
