* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #2c2c2c;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

a:link {
  color: #25a;
  text-decoration: none;
}
a:visited {
  color: #438;
  text-decoration: none;
}
a:hover {
  color: #3af;
  text-decoration: underline;
}
a.-color-unset {
  color: unset;
  text-decoration: none;
}

pre {
  border: 1px solid #eee;
  overflow: auto;
  padding: 0.5rem;
  word-wrap: normal;
}

blockquote {
  border-left: solid 0.5rem #eee;
  overflow: auto;
  padding: 0 3rem 0 2.5rem;
}

video {
  width: 100%;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #eee;
}

th,
td {
  border: 1px solid #eee;
  padding: 0.5rem;
}

p > a:link {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 1rem 0;
}
ul ul {
  margin: 0;
}

p.-for-text-browser,
hr.-for-text-browser {
  display: none;
}

@media only screen and (min-width: 801px) {
  .outer {
    display: flex;
    flex-direction: row;
  }
  .outer > *:first-child {
    flex: 0 0 15.625rem;
  }
  .outer > *:last-child {
    flex: 1 1;
  }
  .outer.-row-reverse {
    flex-direction: row-reverse;
  }
  .outer.-row-reverse > *:first-child {
    flex: 1 1;
  }
  .outer.-row-reverse > *:last-child {
    flex: 0 0 15.625rem;
  }
  .outer.-min-height {
    min-height: calc(100vh - 8.625rem - 1.25rem * 4 - 1rem * 2);
  }
}
@media only screen and (max-width: 800px) {
  .outer.-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
.inner {
  margin: 0 auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  transform: none;
  transition: transform 0.25s ease;
}
@media only screen and (max-width: 800px) {
  .inner {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (min-width: 1601px) {
  .inner {
    transform: translateX(-7.8125rem);
  }
}

header {
  border-left: solid 1rem #eee;
  padding: 1.25rem 0;
}
header h1 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
header p {
  line-height: 1;
  margin: 0;
  margin-top: 1rem;
}
@media only screen and (max-width: 800px) {
  header {
    border-left: none;
  }
}

.global-menu {
  border-top: solid 1rem #eee;
  border-bottom: solid 1rem #eee;
  border-left: solid 1rem #eee;
}
.global-menu ul {
  margin: 0 auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  transform: none;
  transition: transform 0.25s ease;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .global-menu ul {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (min-width: 1601px) {
  .global-menu ul {
    transform: translateX(-7.8125rem);
  }
}
.global-menu li {
  display: inline-block;
  font-size: 1.125rem;
}
.global-menu a {
  color: unset;
  display: block;
  line-height: 1;
  padding: 1rem 0.625rem;
  text-decoration: none;
}
.global-menu a:hover {
  background-color: #ccc;
}
@media only screen and (max-width: 800px) {
  .global-menu {
    border-bottom: none;
    border-left: none;
  }
}

.page-search {
  border-top: solid 1rem #eee;
  border-bottom: solid 1rem #eee;
  display: inline-block;
  width: 100%;
}
.page-search > form {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .page-search {
    border-top: none;
  }
  .page-search > form {
    margin: 0 auto;
    max-width: 39.25rem;
    padding: 0 0.625rem;
    transform: none;
    transition: transform 0.25s ease;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) and (max-width: 800px) {
  .page-search > form {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 1601px) {
  .page-search > form {
    transform: translateX(-7.8125rem);
  }
}

.side-menu {
  border-bottom: solid 1rem #eee;
  padding: 0.625rem;
}
@media only screen and (max-width: 800px) {
  .side-menu {
    border-bottom: none;
    padding: 0;
  }
}

main {
  border-bottom: solid 1rem #eee;
  border-left: solid 1rem #eee;
}
@media only screen and (max-width: 800px) {
  main {
    border-left: none;
  }
}

footer {
  border-left: solid 1rem #eee;
  padding: 1.25rem 0;
}
footer p {
  line-height: 1;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  footer {
    border-top: solid 1rem #eee;
    border-left: none;
  }
}

hr {
  border: none;
  margin: 0;
  border-top: solid 1rem #eee;
}

.search-box {
  border: none;
  height: 1.875rem;
  margin: 0.625rem;
  padding: 0;
  width: calc(100% - 4.375rem);
}

.search-icon {
  background: none;
  border: none;
  line-height: 0;
  padding: 1rem;
}
.search-icon:hover {
  background-color: #ccc;
}
.search-icon img {
  height: 1.125rem;
}

@media only screen and (max-width: 800px) {
  .menu-inner {
    margin: 0 auto;
    max-width: 39.25rem;
    padding: 0 0.625rem;
    transform: none;
    transition: transform 0.25s ease;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-top: 0.625rem;
  }
}
@media only screen and (max-width: 800px) and (max-width: 800px) {
  .menu-inner {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (max-width: 800px) and (min-width: 1601px) {
  .menu-inner {
    transform: translateX(-7.8125rem);
  }
}

@media only screen and (max-width: 800px) {
  section {
    padding-bottom: 0.625rem;
    padding-right: 0.625rem;
  }
  section.-width-100pct {
    width: 100%;
  }
  section.-width-50pct {
    width: 50%;
  }
}
@media only screen and (min-width: 801px) {
  section ~ section {
    margin-top: 1rem;
  }
}
section h2 {
  font-size: 0.875rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
section ul {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}
section li {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 0.375rem 0;
}
section img {
  max-width: 100%;
}

.rss-icon img {
  height: 2.5rem;
}

.pagination {
  margin: 0.625rem auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  transform: none;
  transition: transform 0.25s ease;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .pagination {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (min-width: 1601px) {
  .pagination {
    transform: translateX(-7.8125rem);
  }
}
.pagination li {
  display: inline-block;
}

aside {
  font-size: 0.875rem;
  line-height: 1;
}
aside > * ~ * {
  margin-top: 0.25rem;
}
aside .date {
  font-weight: bold;
}

.social-button .button {
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  text-decoration: none;
}
.social-button .button.-twitter {
  background-color: #1da1f2;
}
.social-button .button.-facebook {
  background-color: #1877f2;
}
.social-button .button.-hatenabookmark {
  background-color: #00a4de;
}
.social-button img {
  display: inline-block;
  height: 0.75rem;
  padding-right: 0.25rem;
  vertical-align: bottom;
}

article {
  margin: 3rem auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  transform: none;
  transition: transform 0.25s ease;
  line-height: 1.6;
}
@media only screen and (max-width: 800px) {
  article {
    max-width: 31.25rem;
    transition: none;
  }
}
@media only screen and (min-width: 1601px) {
  article {
    transform: translateX(-7.8125rem);
  }
}
article > * ~ * {
  margin: 1.5rem 0;
}
article h2 {
  border-top: solid 0.5rem #eee;
  border-bottom: solid 0.5rem #eee;
  font-weight: normal;
}
article h3 {
  border-bottom: solid 0.5rem #eee;
  max-width: max-content;
}
article hr {
  border: none;
  border-top: solid 0.5rem #eee;
}
@media only screen and (min-width: 801px) {
  article pre,
article blockquote {
    max-width: calc(100vw - 19rem);
  }
}

.image {
  text-align: center;
}
.image img {
  box-sizing: content-box;
  max-height: 400px;
  max-width: 100%;
}
@media only screen and (max-height: 400px) {
  .image img {
    max-height: 200px;
  }
}

.slide {
  height: 0;
  padding-bottom: 75%;
  position: relative;
}
.slide iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.taxonomy {
  column-count: 3;
  list-style: none;
  padding-left: 0;
}
@media only screen and (max-width: 800px) {
  .taxonomy {
    column-count: 2;
  }
}
