* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #2c2c2c;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

a:link {
  color: #28b;
  text-decoration: none;
}

a:visited {
  color: #168;
  text-decoration: none;
}

a:hover {
  color: #3af;
  text-decoration: underline;
}

a.-color-inherit {
  color: inherit;
  text-decoration: none;
}

a.-text-decoration-none {
  text-decoration: none;
}

pre {
  border: 1px solid #eee;
  overflow: auto;
  padding: 0.5rem;
  word-wrap: normal;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #eee;
}

th,
td {
  border: 1px solid #eee;
  padding: 0.5rem;
}

p > a:link {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 1rem 0;
}

ul ul {
  margin: 0;
}

@font-face {
  font-family: "kuno";
  src: url("/kuno.ttf");
}

.icon {
  font-family: "kuno";
  font-feature-settings: "liga";
}

@media only screen and (min-width: 801px) {
  .outer {
    display: flex;
    flex-direction: row-reverse;
  }
  .outer > *:first-child {
    flex: 1;
  }
  .outer > *:last-child {
    width: 15.625rem;
  }
  .outer-main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 8.625rem - 1.25rem * 4 - 1rem * 2);
  }
  .outer-main > *:first-child {
    width: 15.625rem;
  }
  .outer-main > *:last-child {
    flex: 1;
  }
}

.inner {
  margin: 0 auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
}

@media only screen and (max-width: 800px) {
  .inner {
    max-width: 31.25rem;
  }
}

@media only screen and (min-width: 1600px) {
  .inner {
    margin: 0 calc(50% - 11.8125rem) 0 calc(50% - 27.4375rem);
  }
}

header {
  border-left: solid 1rem #eee;
  padding: 1.25rem 0;
}

header h1 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

header p {
  line-height: 1;
  margin: 0;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  header {
    border-left: none;
  }
}

.global-menu {
  border-top: solid 1rem #eee;
  border-bottom: solid 1rem #eee;
  border-left: solid 1rem #eee;
}

.global-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-menu li {
  display: inline-block;
  font-size: 1.125rem;
}

.global-menu a {
  color: inherit;
  display: block;
  line-height: 1;
  padding: 1rem 0.625rem;
  text-decoration: none;
}

.global-menu a:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 800px) {
  .global-menu {
    border-bottom: none;
    border-left: none;
  }
}

.search {
  border-top: solid 1rem #eee;
  border-bottom: solid 1rem #eee;
  display: inline-block;
  width: 100%;
}

.search form {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .search {
    border-top: none;
  }
}

.side-menu {
  border-bottom: solid 1rem #eee;
  padding: 0.625rem;
}

@media only screen and (max-width: 800px) {
  .side-menu {
    border: none;
    height: 2.875rem;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

main {
  border-bottom: solid 1rem #eee;
  border-left: solid 1rem #eee;
}

@media only screen and (max-width: 800px) {
  main {
    border-bottom: none;
    border-left: none;
  }
}

footer {
  border-left: solid 1rem #eee;
  padding: 1.25rem 0;
}

footer p {
  line-height: 1;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  footer {
    border-top: solid 1rem #eee;
    border-left: none;
  }
}

hr {
  border: none;
  margin: 0;
  border-top: solid 1rem #eee;
}

.search-box {
  border: none;
  height: 1.875rem;
  margin: 0.625rem;
  padding: 0;
  width: calc(100% - 4.375rem);
}

.search-icon {
  background: none;
  border: none;
  line-height: 0;
  padding: 1rem;
}

.search-icon:hover {
  background-color: #ccc;
}

.search-icon span {
  font-size: 1.125rem;
  line-height: 1;
}

.menu-button {
  cursor: pointer;
  display: inline-block;
  height: 2.25rem;
  left: 0.625rem;
  opacity: 0;
  position: absolute;
  top: 0.625rem;
  width: 2.5rem;
  z-index: 2;
}

.menu-button:hover ~ .menu-icon {
  background-color: #ccc;
}

.menu-button:checked ~ .menu-icon > span:first-child {
  transform: translateY(0.5rem) rotate(45deg) scaleX(0.75);
}

.menu-button:checked ~ .menu-icon > span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.menu-button:checked ~ .menu-icon > span:last-child {
  transform: translateY(-0.5rem) rotate(-45deg) scaleX(0.75);
}

.menu-button:checked ~ .menu {
  transform: none;
}

@media only screen and (min-width: 801px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  background-color: #eee;
  display: inline-block;
  left: 0.625rem;
  padding: 0.5rem;
  position: absolute;
  top: 0.625rem;
  z-index: 1;
}

.menu-icon span {
  background-color: #2c2c2c;
  display: block;
  height: 0.25rem;
  transform-origin: center;
  transition: 0.25s ease;
  width: 1.5rem;
}

.menu-icon span ~ span {
  margin-top: 0.25rem;
}

@media only screen and (min-width: 801px) {
  .menu-icon {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    border-right: solid 1rem #eee;
    background-color: #fff;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    padding: 0.625rem;
    padding-top: 3.5rem;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: 0.25s ease;
  }
}

section ~ section {
  margin-top: 1rem;
}

section h2 {
  font-size: 0.875rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

section ul {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}

section li {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 0.375rem 0;
}

section img {
  max-width: 100%;
}

.rss-icon span {
  font-size: 2.5rem;
  line-height: 1;
}

.pagination {
  margin: 0.625rem auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .pagination {
    max-width: 31.25rem;
  }
}

@media only screen and (min-width: 1600px) {
  .pagination {
    margin: 0.625rem calc(50% - 11.8125rem) 0.625rem calc(50% - 27.4375rem);
  }
}

.pagination li {
  display: inline-block;
}

.date {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1;
}

.tags {
  font-size: 0.875rem;
  line-height: 1;
}

.date + .tags {
  margin-top: 0.25rem;
}

.social-icon span {
  font-size: 2rem;
  line-height: 1;
}

.social-icon span:hover {
  background: #ccc;
}

aside {
  display: flex;
  justify-content: space-between;
}

article {
  margin: 3rem auto;
  max-width: 39.25rem;
  padding: 0 0.625rem;
  line-height: 1.6;
}

@media only screen and (max-width: 800px) {
  article {
    max-width: 31.25rem;
  }
}

@media only screen and (min-width: 1600px) {
  article {
    margin: 3rem calc(50% - 11.8125rem) 3rem calc(50% - 27.4375rem);
  }
}

article > * ~ * {
  margin: 1.5rem 0;
}

article h2 {
  border-top: solid 0.5rem #eee;
  border-bottom: solid 0.5rem #eee;
  font-weight: normal;
}

article h3 {
  border-bottom: solid 0.5rem #eee;
  display: inline;
}

article hr {
  border: none;
  border-top: solid 0.5rem #eee;
}

article blockquote {
  border-left: solid 0.5rem #eee;
  overflow: auto;
  padding: 0 2.5rem;
}

article video {
  width: 100%;
}

.image {
  text-align: center;
}

.image img {
  box-sizing: content-box;
  max-height: 50vh;
  max-width: 100%;
}

.slide {
  height: 0;
  padding-bottom: 75%;
  position: relative;
}

.slide iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
