{{ define "title" -}}
  {{ .Title }} - {{ .Site.Title }}
{{- end }}
{{- define "main" }}
{{- $blog := (where .Data.Pages "Section" "blog").Reverse }}
{{- $paginator := .Paginate $blog }}
{{ partial "pagination-list.html" . }}
{{- range $key, $value := $paginator.Pages }}
<article class="site-article">
<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside class="article-aside">
{{ partial "aside-list.html" . -}}
</aside>
{{- $sentence := findRE "<(p|h[1-6]).*?>.*?</(p|h[1-6])>" .Content 3 }}
{{ delimit $sentence "\n" | safeHTML | truncate 200 }}
</article>
{{- if ne (add $key 1) $paginator.NumberOfElements }}
<hr>
{{- end }}
{{- end }}
{{ partial "pagination-list.html" . }}
{{- end }}
