{{ define "title" -}}
  {{ .Title }} - {{ .Site.Title }}
{{- end }}
{{- define "main" }}
{{- $blog := (where .Data.Pages "Section" "blog").Reverse }}
{{- $paginator := .Paginate $blog }}
{{ partial "pagination.html" . }}
{{- range $paginator.Pages }}
<article>
<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside>
{{ partial "article/date.html" . -}}
{{ partial "article/tags.html" . -}}
</aside>
{{- $sentence := findRE "<(p|h[1-6]).*?>.*?</(p|h[1-6])>" .Content 3 }}
{{ delimit $sentence "\n" | safeHTML | truncate 200 }}
</article>
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
