{{ define "title" -}}
  {{ .Title }} - {{ .Site.Title }}
{{- end }}
{{- define "main" }}
{{- $blog := (where .Data.Pages "Section" "blog").Reverse }}
{{- $paginator := .Paginate $blog }}
{{ partial "pagination.html" . }}
{{- range $paginator.Pages }}
<article>
<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside>
{{ partial "article/date.html" . -}}
{{ partial "article/tags.html" . -}}
{{ partial "article/share.html" . -}}
</aside>
{{ .Content }}
</article>
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
