{{ define "title" -}}
  {{ .Title }} - {{ .Site.Title }}
{{- end }}
{{- define "main" }}
{{- $blog := where .Site.RegularPages "Section" "blog" }}
{{- $paginator := .Paginate $blog }}
{{ partial "pagination.html" . }}
{{- range $key, $value := $paginator.Pages }}
<article>
<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<aside>
{{ partial "aside-list.html" . -}}
</aside>
{{- $sentence := findRE "<(p|h[1-6]).*?>.*?</(p|h[1-6])>" .Content 3 }}
{{ delimit $sentence "\n" | safeHTML | truncate 200 }}
</article>
{{- if ne (add $key 1) $paginator.NumberOfElements }}
<hr>
{{- end }}
{{- end }}
{{ partial "pagination.html" . }}
{{- end }}
